html{
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 150px;
}

section:first-child{
    margin-bottom: 300px;
}

img{
    border-radius: 10px;
    position: relative;
    width: 35%;
}

section:first-child :first-child{
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.left{
    float: left !important;
  }
  
  img:nth-of-type(odd) {
    float: right;
  }

  article{
    margin-bottom: 250px;
  }

 article:first-child{
    margin-bottom: 400px;
  }

article > img{
    margin: 30px 30px;
  }

  p{
    text-align: left;
    line-height: 1.2em;
  }

  h1{
    margin-bottom: 15px;
    font-size: 3em;
  }

  h2{
    margin-bottom: 15px;
    font-size: 2.8em;
  }
  footer ul {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: space-around;
}
footer ul li:nth-child(3) i.fa-brands{
    margin-left: 5px;
    font-size: 1.5em !important;
}
 
.affiche{
border-radius: 10px;
object-fit: contain;
}

#un{
  margin-bottom: 50px;
}

#sec1{
text-align: center;
margin-top: 50px;
font-size: 1.8em;
}

#img1{
aspect-ratio: 3/2;  
object-fit: cover;
width: 45%;
}
