



p, li{
    font-size: 1.3em;
    line-height: 30px;
}

section:first-of-type h1{
    font-size: 3em;
}


section:first-of-type{
    margin-top: 150px;
    margin-bottom: 200px;
}



h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}

article{
    margin-bottom: 100px;   
}

img{
    margin-top: 50px;
    justify-content:space-between;
    border-radius: 15px;
    
}

article:nth-child(1) img {

    width: 300px;
    height: 200px;
}

#ini-locales img{
    align-items: center;
    width: 30%;
    height: 180px;

}


#ini-locales-txt{
margin-top: 130px;
width: 60%;
float: right;

}



#red-dechets img{
    align-items: center;
    width: 30%;
    height: 180px;

}


#red-dechets-txt{
margin-top: 130px;
margin-right: 100px;
width: 60%;
float: left;

}


#more-about ol li {

    list-style:circle;
    line-height: 35px;
    font-size: 1.1em;

}


#more-about p {
font-size: 1.2em;
margin-bottom: 30px;
font-weight: bold;


}