.card {
    background: rgba(255, 255, 255, 0.053);
    box-shadow: 0 8px 32px 0 rgba(41, 42, 48, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.071);
    height: auto;
    padding: 50px;
}

h4 {
    font-weight: 200;
    font-size: 1.4em;
}

h5 {
    padding: 0 5px;
    font-weight: 100;
    margin-left: 15px;
    font-size: 1.2em;
    color: rgb(164, 164, 164);
}